.git
.gitignore
.venv
venv
env

__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

.env
.env.*

.idea
.vscode
*.swp
*.swo

api/tests
bot/tests
api/requirements-dev.txt
bot/requirements-dev.txt

.DS_Store
Thumbs.db
